<div id="introdution"
     style="display:fill;
            background-color: #369;
            font-size:160%;
            font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
            letter-spacing: 0.5px;
            padding: 6px;
            color: #FFF;
            border-style: solid;
            border-color: #369;
            text-align:center;">
<b>EXPLORATORY DATA ANALYSIS (DAY 4)</b>
</div>

In [19]:
#import the useful libraries.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Read the data set of "Marketing Analysis" in data.
data= pd.read_csv("C:/Users/HP/Downloads/archive/marketing_analysis.csv"
                  ,skiprows = 2) #replace the dir with the your own path

# Printing the data
data

ModuleNotFoundError: No module named 'numpy'

The dataset we'll be using today from a reliable repository on GitHub. It is a  dataset of customers of a certain bank showing various info of more than 45k customers. Using the info() function, we can see all the information about our dataset

In [20]:
data.info()

NameError: name 'data' is not defined

Now if we observe the above dataset, the customerid column has of no importance to our analysis, and also the jobedu column has both the information of job and education in it.

So, what we’ll do is, we’ll drop the customerid column and we’ll split the jobedu column into two other columns job and education and after that, we’ll drop the jobedu column as well.

In [21]:
# Drop the customer id as it is of no use.
data.drop('customerid', axis = 1, inplace = True)

#Extract job  & Education in newly from "jobedu" column.
data['job']= data["jobedu"].apply(lambda x: x.split(",")[0])
data['education']= data["jobedu"].apply(lambda x: x.split(",")[1])

# Drop the "jobedu" column from the dataframe.
data.drop('jobedu', axis = 1, inplace = True)

# Printing the Dataset
data

NameError: name 'data' is not defined

If there are missing values in the Dataset before doing any statistical analysis, we need to handle those missing values.

There are mainly three types of missing values.

1. MCAR(Missing completely at random): These values do not depend on any other features.
2. MAR(Missing at random): These values may be dependent on some other features.
3. MNAR(Missing not at random): These missing values have some reason for why they are missing.
Let’s see which columns have missing values in the dataset.

In [22]:
# Checking the missing values
#data.isnull().any()
data.isnull().sum()

NameError: name 'data' is not defined

As we can see three columns contain missing values. Let’s see how to handle the missing values. We can handle missing values by dropping the missing records or by imputing the values.

##### Drop the missing Values

Let’s handle missing values in the age column.

In [23]:
# Dropping the records with age missing in data dataframe. We're doing this by creating a copy of the data without null values
data = data[~data.age.isnull()].copy()

# Checking the missing values in the dataset.
data.isnull().sum()

NameError: name 'data' is not defined

##### Replace missing value with the Mode

Let’s impute values to the missing values for the month column.

Since the month column is of an object type, let’s calculate the mode of that column and impute those values to the missing values.

In [24]:
# Find the mode of month in data
month_mode = data.month.mode()[0]
#month_mode

# Fill the missing values with mode value of month in data.
data.month.fillna(month_mode, inplace = True)

# Let's see the null values in the month column.
data.month.isnull().sum()

NameError: name 'data' is not defined

Handling the missing values in the Response column. Since, our target column is Response Column, if we impute the values to this column it’ll affect our analysis. So, it is better to drop the missing values from Response Column.

In [25]:
#drop the records with response missing in data.
data = data[~data.response.isnull()].copy()
# Calculate the missing values in each column of data frame
data.isnull().sum()

NameError: name 'data' is not defined

Now, that we are clear on how to source and clean the data, let’s see how we can analyze the data.



<div id="introdution"
     style="display:fill;
            background-color: #369;
            font-size:160%;
            font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
            letter-spacing: 0.5px;
            padding: 6px;
            color: #FFF;
            border-style: solid;
            border-color: #369;
            text-align:center;">
<b>Univariate Analysis</b>
</div>
If we analyze data over a single variable/column from a dataset, it is known as Univariate Analysis.

#### Categorical Unordered Univariate Analysis:

An unordered variable is a categorical variable that has no defined order. If we take our data as an example, the job column in the dataset is divided into many sub-categories like technician, blue-collar, services, management, etc. There is no weight or measure given to any value in the ‘job’ column.

Now, let’s analyze the job category by using plots. Since Job is a category, we will plot the bar plot.

In [26]:
# Let's calculate the percentage of each job status category.
job_count = data.job.value_counts(normalize=True)

#plot the bar graph of percentage job categories
job_count.plot.barh()
plt.show()

NameError: name 'data' is not defined

By the above bar plot, we can infer that the data set contains more number of blue-collar workers compared to other categories.

#### Categorical Ordered Univariate Analysis:

Ordered variables are those variables that have a natural rank of order. Some examples of categorical ordered variables from our dataset are:

Month: Jan, Feb, March……
Education: Primary, Secondary,……
Now, let’s analyze the Education Variable from the dataset. Since we’ve already seen a bar plot, let’s see how a Pie Chart looks like.

In [27]:
#calculate the percentage of each education category.
data.education.value_counts(normalize=True)

#plot the pie chart of education categories
data.education.value_counts(normalize=True).plot.pie()
plt.show()

NameError: name 'data' is not defined

Other Univariate analysis we can do is to see how the people in our dataset earn. We can do this to visualize the earning class of the customers. Although a Pie Chart or bar chart should normally be used for this type of visualization, let us use a histogram since we haven't seen it before.

In [28]:
#plot the histogram of salary categories
data['salary'].plot.hist()
plt.show()

NameError: name 'data' is not defined

This is how we analyze univariate categorical analysis. If the column or variable is of numerical then we’ll analyze by calculating its mean, median, std, etc. We can get those values by using the describe function.

In [29]:
data.salary.describe()

NameError: name 'data' is not defined

<div id="introdution"
     style="display:fill;
            background-color: #369;
            font-size:160%;
            font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
            letter-spacing: 0.5px;
            padding: 6px;
            color: #FFF;
            border-style: solid;
            border-color: #369;
            text-align:center;">
<b>Bivariate Analysis</b>
</div>

If we analyze data by taking two variables/columns into consideration from a dataset, it is known as Bivariate Analysis.

1. Numeric-Numeric Analysis:

Analyzing the two numeric variables from a dataset is known as numeric-numeric analysis. We can analyze it in different ways. In this lesson, we would be doing so using a Scatter Plot and a Correlation Matrix

##### Scatter Plot

Let’s take three columns ‘Balance’, ‘Age’ and ‘Salary’ from our dataset and see what we can infer by plotting to scatter plot between salary balance and age balance

In [30]:
#plot the scatter plot of balance and salary variable in data
plt.scatter(data.salary,data.balance)
plt.xlabel('Salary') 
plt.ylabel('Balance')
plt.show()

#plot the scatter plot of balance and age variable in data
data.plot.scatter(x="age",y="balance")
plt.xlabel("Age")
plt.ylabel("Balance")
plt.show()

NameError: name 'plt' is not defined

##### Correlation Matrix

Since we cannot use more than two variables as x-axis and y-axis in Scatter and Pair Plots, it is difficult to see the relation between three numerical variables in a single graph. In those cases, we’ll use the correlation matrix.

In [31]:
# Creating a matrix using age, salry, balance as rows and columns
data[['age','salary','balance']].corr()

NameError: name 'data' is not defined

First, we created a matrix using age, salary, and balance. After that, we are plotting the heatmap using the seaborn library of the matrix which is shown below

In [32]:
#plot the correlation matrix of salary, balance and age in data dataframe.
sns.heatmap(data[['age','salary','balance']].corr(), annot=True, cmap = 'Reds')
plt.show()

NameError: name 'sns' is not defined

2. Numeric - Categorical Analysis

Analyzing the one numeric variable and one categorical variable from a dataset is known as numeric-categorical analysis. We analyze them mainly using mean, median, and box plots.

Let’s take salary and response columns from our dataset.

First check for mean value using groupby

In [33]:
#groupby the response to find the mean of the salary with response no & yes separately.
data.groupby('response')['salary'].mean()

NameError: name 'data' is not defined

There is not much of a difference between the yes and no response based on the salary.

Let’s calculate the median,

In [34]:
#groupby the response to find the median of the salary with response no & yes separately.
data.groupby('response')['salary'].median()

NameError: name 'data' is not defined

By both mean and median we can say that the response of yes and no remains the same irrespective of the person’s salary. But, is it truly behaving like that, let’s plot the box plot for them and check the behavior.

In [35]:
#plot the box plot of salary for yes & no responses.
x = data.response
y = data.salary
sns.boxplot(x, y)
plt.show()

NameError: name 'data' is not defined

As we can see, when we plot the Box Plot, it paints a very different picture compared to mean and median. The IQR for customers who gave a positive response is on the higher salary side.

This is how we analyze Numeric-Categorical variables, we use mean, median, and Box Plots to draw some sort of conclusions.

3. Categorical — Categorical Analysis

Since our target variable/column is the Response rate, we’ll see how the different categories like Education, Marital Status, etc., are associated with the Response column. So instead of ‘Yes’ and ‘No’ we will convert them into ‘1’ and ‘0’, by doing that we’ll get the “Response Rate”.

In [36]:
#create response_rate of numerical data type where response "yes"= 1, "no"= 0
data['response_rate'] = np.where(data.response=='yes',1,0)
data.response_rate.value_counts()

NameError: name 'np' is not defined

Let’s see how the response rate varies for different categories in marital status.

In [37]:
#plot the bar graph of marital status with average value of response_rate
data.groupby('marital')['response_rate'].mean().plot.bar()
plt.show()

NameError: name 'data' is not defined

By the above graph, we can infer that the positive response is more for Single status members in the data set. Similarly, we can plot the graphs for Loan vs Response rate, Housing Loans vs Response rate, etc.

In [5]:
from sklearn import linear_model
reg = linear_model.Ridge(alpha=.5)
reg.fit([[0, 0], [0, 0], [1, 1]], [0, .1, 1])
Ridge(alpha=0.5)
reg.coef_
array([0.34545455, 0.34545455])

NameError: name 'Ridge' is not defined

In [12]:
from sklearn import linear_model